@font-face {
    font-family: 'Mix Giants';
    src: url('MixGiants.eot');
    src: url('MixGiants.eot?#iefix') format('embedded-opentype'),
        url('MixGiants.woff2') format('woff2'),
        url('MixGiants.woff') format('woff'),
        url('MixGiants.ttf') format('truetype'),
        url('MixGiants.svg#MixGiants') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

